body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}

a.text-logo {
  color: blueviolet;
  text-decoration: none;
  font-size: 25px;
}

header {
  display: flex;
  position: fixed;

  top: 0;
  left: 0;
  right: 0;

  height: 60px;

  justify-content: space-around;
  align-items: center;

  background-color: #fdfdfd;
  border-bottom: 1px solid #eee;
}

header nav {
  display: flex;
}

header nav a {
  padding: 20px;
  text-decoration: none;
  color: #666;
}

header nav a:hover {
  background: #eee;
}

.header-block {
  height: 60px;
}

main {
}

main p {
  margin: auto;
  paddind: 30px;
  max-width: 60rem
}

footer {
  display: flex;

  padding: 50px;

  justify-content: space-around;

  background-color: #333;
  color: #fff;
}

footer nav {
  display: flex;

  align-items: center;
}

footer nav section a {
  display: block;

  text-decoration: none;

  color: #666;
}

footer nav section a:hover {
  text-decoration: underline;
}

footer nav section {
  margin: 20px;
}
